body{
    background-color: #f4f6f7;
    font-family: 'Poppins', sans-serif;
}
h1{
    color: #202020;
}
.buttons{
    background-color: #03e0fd;
    border-style: none;
    color: white;
    border-radius: 10px;
    margin-left: 1em;
    padding: 0.6em;

}
.buttons:hover{
    background-color: #00a2b8;
}
   
.inputForm{
    background-color: white;
}
#app{
    background-color: #ffffff;
    border-radius: 20px;
    border:none;
    overflow :auto;
    height: 350px;
    width: max-content;
    padding: 20px;
    margin: auto;
    box-shadow: 5px 5px 40px 0px rgb(228, 228, 228);  
    
}

li{
    list-style: none;
    padding-top: 0.2em;
    padding-bottom: 0.4em;
    color: #535353;
  
    

}
.subButtons{
    padding: 0.5em;
    background-color: rgb(255, 255, 255);
    border-style: none;
    border: 1px solid;
    border-color: #00a2b8;
    border-radius: 10px;
    color: #535353;
    
}